body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color:#fff;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
    background-color:#333;
    touch-action: pan-y;
    
    
}

button,
button:focus {
    outline: none;
}

a {
  text-decoration: none;
  color:  #fff;
  
} 
ul,
ol, 
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 , h2 ,h3 ,h4 ,h5 ,h6 , p {
   margin: 0;
}

.wrapper {
   min-height: 100vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

._container {
  max-width: 1046px;
  margin: 0 auto;
  padding:0px 15px;


}
 
._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.main {
}
.game__container {
    text-align: center;
    display: flex;
    flex-direction: column;

}

.game__container>*:not(:last-child) {
    margin-bottom: 50px;
}

.game__content {
}
.game-title {
    font-weight: 700;
    font-size: 50px;
    color: yellow;
}
.game__text {
    font-size: 22px;
    line-height: 150%;
}
.game__body {
  
}

.game__body>*:not(:last-child) {
    margin-bottom: 30px;
}
.game__last-result {
    font-weight: 600;
    font-size: 35px;
}


.game__form {
  
}

.form-box {
    display: grid;
    grid-template-columns: minmax(280px, 449px);
    justify-content: center;
    align-items: center;
    
 
   

}
.form {
    background-color: rgb(0, 0, 0, .7);
    padding: 50px 0px;
    border-radius: 10px;
    
    
}

.form>*:not(:last-child) {
    margin-bottom: 30px;
}
.form-input {
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 8px ;
    padding: 10px 15px;
    font-size: 18px;
    color: #fff;
    text-align: center;
   
}

.form-input::placeholder {
    color: rgb(255, 255, 255, 0.5);
    font-size: 16px;
}
.form-input:focus {
    box-shadow:0 0 15px rgb(255, 255, 255, 0.5);
    border: 1px solid #fff;
}

.form__actions {
   position: relative;
}


.form-button:not([data-btn="reset"]) {
    pointer-events: all;
    opacity: 1;
    padding: 8px;
    min-width: 106px;
    border-radius: 8px;
    color: #fff;
    background-color: #23B123;
    font-size: 18px;
    transition: all 0.7s ease 0s;
    cursor: pointer;
    border: none;
    outline: none;
}

.form-button {
    pointer-events: all;
    opacity: 1;
    padding: 8px 25px;
    border-radius: 8px;
    color: #000;
    background-color: yellow;
    font-size: 18px;
    transition: all 0.7s ease 0s;
    cursor: pointer;
    border: none;
    outline: none;
}



.numpad {
   display: none;
}
@media (max-width: 767.98px) {
    .numpad {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        align-items: baseline;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease 0s;
    
     }

     .numpad._visible {
        max-height: 260px;
     }
 
}



.numpad-button {

    padding: 2px 6px;
    background-color: rgb(255, 255, 255, 0.3);
    cursor: pointer;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    outline: none;
    max-width: 100px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.numpad-button span {
    font-size: 24px !important;
    color: #fff;
}

.numpad-button:focus {
    
}

.num-null{
  width: 196%;
  max-width:none;
 
}

.numpad-clear {
   grid-column-end: 4 ;
}



@media (any-hover: hover) {
    .form-button:not([data-btn="reset"]):hover {
        background-color:#1e7b1e;
    }
    .form-button:hover {
        background-color:rgb(192, 192, 17);
    }
}

.result-box {
    display: grid;
    grid-template-columns: minmax(280px, 449px);
    justify-content: center;
}
.result-box>*:not(:last-child) {
    margin-bottom: 15px;
}
 
.game__previous-guesses {
  
    font-size: 20px;
    padding: 15px;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 8px;
    transform:scale(0);
    transition:  transform 0.5s ease 0s;
    box-sizing: border-box;
}


.game__previous-guesses._visible {
    transform:scale(1);
}

.game__low-or-high {
 
    
   
    font-size: 20px;
    padding: 15px 25px;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 8px;
    transform:scale(0);
    box-sizing: border-box;
    transition:  transform 0.5s ease 0s;

}



.game__low-or-high._visible {
    transform:scale(1) ;
}

/* .reset-button {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    font-weight: 500;
    font-size: 18px;
    border: none;
    outline: none;
    padding: 0px 20px;
    border-radius: 10px;
    color: 000;
    background-color: yellow;
    transition:all 0.3s ease 0s;
    transform:scale(0) translate(-50%,0);
    cursor: pointer;
} */

/* .reset-button._visible {
    visibility: visible;
    opacity: 1;
    transform:scale(1) translate(-50%,0);
}

.reset-button:active {
    transform: translateY(10px);
} */

@media (any-hover: hover) {
    .reset-button:hover {
        background-color:rgb(196, 196, 30);
    } 
}
 

@media (max-width: 767.98px) {
    .game__container>*:not(:last-child) {
        margin-bottom: 15px;
    }

    .game__body>*:not(:last-child) {
        margin-bottom: 15px;
    }

    .form>*:not(:last-child) {
        margin-bottom: 15px;
    }

    .game-title {
        font-size: 35px;
    }

    .game__text {
        font-size: 16px;
    }

    .form {
        padding: 25px  100px;
    }

    .game__low-or-high  {
        font-size: 16px;
        padding: 10px;
    }

    .game__previous-guesses {
        padding: 10px;
        font-size: 16px;
    }

    .game__last-result {
        font-size:  25px;
    }
}

@media (max-width: 499.98px) {
    .game__container {
        display: grid;
    }

    .form {
        padding: 15px  15px;
    }
  
}